{% extends "layout.html" %}

{% block content %}
    <div class = "content">
        <div class="row">
            <div class="col-md-12 text-center">
                {% if session.get("username") %}
                <h3>Have a good day. Stay motivated! Stay Productive!.</h3>
                {% else %}
                <h3>Already registered? <a href="{{ url_for('login') }}">Login</a></h3>
                {% endif %}
                    <img src="{{ url_for('static',filename='images/todotask.png')}}" alt=NightFury style="width:100%;">

            </div>
        </div>
    </div>
{% endblock %}