<!DOCTYPE html>
<html>
<head>
    <title>UTA - Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div>
    {% include "includes/nav.html" %}
</div>
<div class="container tree_nav_container" style="height: 100%">
    <div class="container tree_panel_cell">
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#clients">Clients</a>
        <a href="#contact">Contact</a>
    </div>
    <div class="container tree_main_cell" style="{% if not index %}background-image: url('static/images/night_fury_PNG59_0.2Opcaity.png'){% endif %};background-size: 100% 100%;">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class = "alert alert-{{ category }} text-center">
                        <p>
                            {{ message }}
                        </p>
                    </div>    
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </div>
</div>
<div class="footer">
    {% include "includes/footer.html" %}
</div>
</body>
</html>    