    {% extends "layout.html" %}
    
    {% block content %}
        <!-- <div>
            <h1>I am right here</h1>
            <h1 class="text-center">Your To Do Tasks</h1>
            <br>
        </div> -->

        <div class="filtertask">
          <form action="{{ url_for('todo_all') }}" method="get">
              <h2 style="margin:5px">Filter your search</h2>
              <h6 style="float: left;color:black;">Task Title:</h6>
              <input type="text" name="task_title" id="mytitle" value="{% if filter_dict.task_title %}{{ filter_dict.task_title }}{% endif %}">
              <h6 style="float:left;color: black">Task Status:</h6>
              <span style="float:left">In Progress</span>
              <input style="float:left;width:5%" value="In Progress" type="checkbox" id="InProgress" name="task_status" {% if 'In Progress' in filter_dict.task_statuses %}checked{% endif %}>
              <span style="float:left">Completed</span>
              <input style="float:left;width:5%" value="Completed" type="checkbox" id="Completed" name="task_status" {% if 'Completed' in filter_dict.task_statuses %}checked{% endif %}>
              <span style="float:left">Failed</span>
              <input style="float:left;width:5%;display: block" value="Failed" type="checkbox" id="Failed" name="task_status" {% if 'Failed' in filter_dict.task_statuses %}checked{% endif %}>
              <input style="float:right;width:5%;display: block" value="Grace" type="checkbox" id="Grace" name="Grace" {% if filter_dict.Grace %}checked{% endif %}>
              <h6 style="float:right;color: black">Task in Grace Period: </h6>
              <br><h6></h6>
              <h6 style="float:left;color: black">Priority:</h6>
              <span style="float:left">P1</span>
              <input style="float:left;width:5%" value="P1" type="checkbox" id="P1" name="priority" {% if 'P1' in filter_dict.task_priorities %}checked{% endif %}>
              <span style="float:left">P2</span>
              <input style="float:left;width:5%" value="P4" type="checkbox" id="P2" name="priority" {% if 'P2' in filter_dict.task_priorities %}checked{% endif %}>
              <span style="float:left">P3</span>
              <input style="float:left;width:5%;display: block" value="P3" type="checkbox" id="P3" name="priority" {% if 'P3' in filter_dict.task_priorities %}checked{% endif %}>
              <span style="float:left">P4</span>
              <input style="float:left;width:5%;display: block" value="P4" type="checkbox" id="P4" name="priority" {% if 'P4' in filter_dict.task_priorities %}checked{% endif %}>
              
              <br><h6></h6>
              <p style="color:black;float:left">Date Added:</p>
              <input type="date" id="DateAdded" name="start_date">
              <p style="color:black;float:left">Deadline Date:</p>
              <input type="date" id="DeadlineDate" name="deadline_date">
              
              <input onclick="filterTasks()" type="submit" value="Submit" class="addTaskBtn"> 
          </form>    
        </div>
        <!-- <div class="form-group addtask">
          <label style="color:black;float:left;" for="tasktitle">Task Title:</label>
          <input style="float:left;width:100%" name="tasktitle" id="tasktitle" />
          <label style="color:black;float:left;" for="taskdescription">Task Description:</label>
          <input style="float:left;width:100%" name="taskdescription" id="taskdescription" />
          <h6 style="float:left;color: black;">Task Status:  </h6>
          <span style="float:left">In Progress</span>
          <input style="float:left;width:5%" type="checkbox" id="In Progress" name="In Progress" label="in progress">
          <p style="float:left">Completed</p>
          <input style="float:left;width:5%" type="checkbox" id="Completed" name="Completed">
          <span style="float:left">Failed</span>
          <input style="float:left;width:5%" type="checkbox" id="Failed" name="Failed">
        </div> -->
        
        <ul id="myUL">
            {% if not total_tasks %}
              <h4 style="color:green;text-align: center;">No such task is present in your profile.</h4>
            {% endif %}
            {% for task in total_tasks %}
                <li {% if task.e2["days_left"] and task.e2["days_left"] < 0 %}style="background: rgb(255,0,0,0.5);"{% endif %} class = "collapsible {% if task.e2['status']=='Failed' %}checked{% endif %}">{{ task.e2["title"] }}
                  <span class= "display_task_info {% if task.e2['status']=='Completed' %}completed{% endif %} {% if task.e2['status']=='In Progress' %}inprogress{% endif %} {% if task.e2['status']=='Failed' %}failed{% endif %}" id="display_task_info">{{ task.e2["status"] }}</span>
                  <span class="display_task_info" id="display_task_info">{% if task.e2["status"]=='In Progress' %}{% if task.e2["days_left"] < 0 %}<strong>Grace Day:</strong> {{ -1*task.e2["days_left"] }} {% else %}<strong>Days Left:</strong> {{ task.e2["days_left"] }} {%  endif %}{% endif %}</span>
                </li>
                <div class = "collapsible-content">
                    <p>Date Added: {{ task.e2["date_added"] }}</p>
                    <p>Description: {{ task.e2["description"] }}</p>
                    <p>Status: {{ task.e2["status"] }}</p>
                    {% if task.e2["days_left"] %}
                      <p>Days Left for the task to be completed: {{ task.e2["days_left"] }}</p>
                    {% endif %}
                </div>
                <div id="task_id" style="display: none;">{{ task.e2["task_id"] }}</div>
            {% endfor %}
        </ul>

        <script>
          // ewument.getElementById("DateAdded").defaultValue = filter_dict.start_date;
            // localStorage.setItem("score", 60);
            // Create a "check info" dropdown and append it to each list item
            var myNodelist = document.getElementsByTagName("LI");
            var i;
            for (i = 0; i < myNodelist.length; i++) {
              var span = document.createElement("SPAN");
              var txt = document.createTextNode("Check Task Info");
              span.className = "check_info";
              span.appendChild(txt);
              // myNodelist[i].appendChild(span);
              myNodelist[i].insertBefore(span, myNodelist[i].firstChild)
            }

            // Create a "close" button and append it to each list item
            var myNodelist = document.getElementsByTagName("LI");
            var i;
            for (i = 0; i < myNodelist.length; i++) {
              var span = document.createElement("SPAN");
              var txt = document.createTextNode("\u00D7");
              span.className = "close";
              // span.classList.add("check_info");
              span.appendChild(txt);
              // myNodelist[i].appendChild(span);
              myNodelist[i].insertBefore(span, myNodelist[i].firstChild)
            }

            // var coll = document.getElementsByClassName("check_info");
            // var i;
            // for (i = 0; i < coll.length; i++) {
            //   coll[i].addEventListener("click", function() {
            //     var xhttp = new XMLHttpRequest();
            //     xhttp.onreadystatechange = function() {
            //         if (this.readyState == 4 && this.status == 200) {
            //             console.log("I am in ajax")
            //             console.log(this.responseText)
            //             var obj = JSON.parse(this.responseText);
            //             console.log(obj)
            //             document.getElementById("demo").innerHTML = obj.a;
            //         }
            //     };
            //     xhttp.open("GET", "{{ url_for('dailytodo')}}", true);
            //     xhttp.send();
            //     this.parentElement.classList.toggle("active");
            //     var content = this.parentElement.nextElementSibling;
            //     console.log("I am in check_info")
            //     console.log(content)
            //     if (content.style.display === "block") {
            //       content.style.display = "none";
            //     } else {
            //       content.style.display = "block";
            //     }
            //     console.log(content)
            //   });
            // }

            var coll = document.getElementsByClassName("close");
            var i;
            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", close);
            }

            function close() {
              if (confirm("Do you want to delete it permanently. You will not be able to track it.")) {
                var div = this.parentElement;
                console.log("I am in close")
                console.log(div)
                var description = div.nextElementSibling;
                console.log(description)
                var task_id = this.parentElement.nextElementSibling.nextElementSibling.innerHTML
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        console.log("I am in close")
                        console.log(this.responseText)
                        description.style.display = "none"
                        div.style.display = "none";
                    }
                    else if(this.readyState == 4 && this.status == 500){
                      alert(this.responseText)
                    }
                };
                xhttp.open("DELETE", "{{ url_for('dailytodo')}}/"+task_id, true);
                xhttp.send();
              }
              else {
                console.log("The DELETE process halted.")
              }
            }

            // Add a "checked" symbol when clicking on a list item
            var list = document.getElementById('myUL');
            // console.log("The list is"+list.innerHTML)
            list.addEventListener('click', function(ev) {
                console.log("I am here")
                if (ev.target.tagName === 'LI') {
                  var task_id = ev.target.nextElementSibling.nextElementSibling.innerHTML
                  console.log("The next elemet is "+ev.target.nextElementSibling.innerHTML)
                  console.log("the task id is")
                  console.log(task_id)                   
                  var xhttp = new XMLHttpRequest();
                  xhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                      console.log(this.responseText)
                      var obj = JSON.parse(this.responseText);
                      if (obj.status == "In Progress"){
                        if (confirm("Are you sure you have completed the task. Please be honest to yourself and update accordingly.")){
                          var putxhttp = new XMLHttpRequest();
                          putxhttp.onreadystatechange = function(){
                            if (this.readyState == 4 && this.status == 200){
                              console.log(this.responseText)
                              ev.target.classList.toggle('checked');
                              childrens = ev.target.children;
                              for (i = 0; i < childrens.length; i++) {
                                console.log(childrens[i])
                                if (childrens[i].classList.contains("inprogress")) {
                                  console.log(childrens[i].classList)
                                  childrens[i].classList.toggle("inprogress")
                                  childrens[i].classList.add("completed")
                                  childrens[i].innerHTML = "Completed"
                                }
                              }
                            }
                          };
                          putxhttp.open("PUT", "{{ url_for('dailytodo')}}/"+task_id, true);
                          putxhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                          putxhttp.send("status=Completed");
                        }
                      }

                    }
                  };
                  xhttp.open("GET", "{{ url_for('dailytodo')}}/"+task_id, true);
                  xhttp.send();
                }
            }, false);


            var coll = document.getElementsByClassName("check_info");
            var i;
            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", click_check_info);
            }

            function click_check_info() {
              console.log(this)
              console.log("I am here 2")
              var content = this.parentElement.nextElementSibling;
                var task_id = this.parentElement.nextElementSibling.nextElementSibling.innerHTML
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                    console.log("I am in ajax")
                    console.log(this.responseText)
                    var obj = JSON.parse(this.responseText);
                    console.log(obj)
                    console.log(this)
                    if (obj.status == "Yet To Start"){
                      content.innerHTML = "<p><b>Date Added:</b> "+obj.date_added+"<p></p><b>Description:</b> "+obj.description+"<p></p><b>Status: </b>"+obj.status+"</p>";
                      content.className = "task_description_body";
                    }
                    else{
                      content.innerHTML = "<b>Date Added:</b> "+obj.date_added+" | <b>Deadline Date:</b> "+obj.deadline_date+" | <b>Description:</b> "+obj.description+" | <b>Status:</b> "+obj.status+" | <b>Priority:</b> "+obj.priority;
                      content.className = "task_description_body";
                    }
                  }
                };
                xhttp.open("GET", "{{ url_for('dailytodo')}}/"+task_id, true);
                xhttp.send();
                this.parentElement.classList.toggle("active");
                console.log("I am in check_info")
                console.log(content)
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block";
                }
                console.log("this")
                console.log(this)
            }

            // Create a new list item when clicking on the "Add" button
            // function newElement() {
            //   var xhttp = new XMLHttpRequest();
            //   var inputValue = document.getElementById("myInput").value;
            //   if (inputValue === '') {
            //     alert("You must add something for the task title!");
            //   }
            //   else {
            //     var descriptionValue = document.getElementById("myDescription").value;
            //     xhttp.onreadystatechange = function() {
            //     if (this.readyState == 4 && this.status == 200) {
            //       var li = document.createElement("li");
            //       var task_info_div = document.createElement('div');
            //       var task_id_div = document.createElement('div');
            //       console.log(typeof inputValue)
            //       var t = document.createTextNode(inputValue);
            //       li.appendChild(t);
            //       document.getElementById("myUL").appendChild(li);
            //       document.getElementById("myUL").appendChild(task_info_div);
            //       document.getElementById("myUL").appendChild(task_id_div);
            //       document.getElementById("myInput").value = "";
            //       document.getElementById("myDescription").value = "";

            //       var span = document.createElement("SPAN");
            //       var txt = document.createTextNode("\u00D7");
            //       span.className = "close";
            //       span.addEventListener("click", close)
            //       span.appendChild(txt);
            //       li.appendChild(span);

            //       var span = document.createElement("SPAN");
            //       var txt = document.createTextNode("Check Task Info");
            //       span.className = "check_info";
            //       span.addEventListener("click", click_check_info)
            //       // span.setAttribute("onclick", "click_check_info()")

            //       span.appendChild(txt);
            //       li.appendChild(span);

            //       for (i = 0; i < close.length; i++) {
            //         close[i].onclick = function() {
            //           var div = this.parentElement;
            //           div.style.display = "none";
            //         }
            //       }
            //       console.log(typeof this.responseText)
            //       task_id_div.innerHTML = this.responseText
            //       task_id_div.setAttribute("id", "task_id");
            //       task_id_div.setAttribute("style", "display: none;")
            //       task_info_div.innerHTML = "<p>Date Added: {{ date }}</p><p>Description: "+descriptionValue+"</p><p>Status: In Progress</p>";
            //       task_info_div.setAttribute("class", "collapsible-content")
            //       }
            //       else if(this.readyState == 4 && this.status == 500){
            //         document.getElementById("myInput").value = "";
            //         document.getElementById("myDescription").value = "";
            //         alert(this.responseText)
            //       }
            //     };
            //     xhttp.open("POST", "{{ url_for('dailytodo')}}", true);
            //     xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            //     xhttp.send("status=In Progress&title="+inputValue+"&date={{ date }}&description="+descriptionValue);
            //   }
            // }

        </script>
            

    {% endblock %}